@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+DE+Grund:wght@100..400&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Estilos globales */
body {
  font-family: 'Merriweather', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #7e7c7c79;
}

/* Sección del encabezado */
header {
  background-color: #3c5758;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #f7a47e;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav .a-li {
  color: #fff;
  text-decoration: none;
}

nav .a-li:hover {
  color: #f7a47e;
}

nav .btn-nav {
  background-color: #f0e9e9;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

nav .btn-nav:hover {
  background-color: rgb(206, 203, 21);
  color: white;
}

nav .a-nav {
  color: red;
  font-weight: 750;
  text-decoration: none;
}

/* Sección de destinos */
section {
  padding: 20px;
  text-align: center;
}

section h1 {
  font-size: 54px;
  margin-bottom: 20px;
  color: #0a8324;
}

p {
  font-size: larger;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  margin-top: 0;
  color: blue;
  font-size: x-large;
}

img {
  width: 40%;
  height: auto;
  margin-bottom: 10px;
}

.btn-mas {
  background-color: #fcf6f6;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-mas:hover {
  background-color: #fa0909;
}

.a-btn {
text-decoration: none;
color: red;
}

.a-btn:hover {
  color: white;
  background-color: red;
}


/* Sección del pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  clear: both;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

footer li {
  margin-right: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer p {
  margin-bottom: 20px;
}