@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+DE+Grund:wght@100..400&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Estilos globales */
body {
  font-family: "Merriweather", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  text-align: center;
}

/* Sección del encabezado */
header {
  background-color: #3f1d77;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
  margin-bottom: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

nav button:hover {
  background-color: #444;
}

/* Sección de registro */
section {
  padding: 20px;
}

section h1 {
  font-size: 44px;
  color: #3f1d77;
  margin-bottom: 20px;
}

section p {
  color: #3f1d77;
  font-size: larger;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: large;
  margin-bottom: 7px;
}

input[type="text"], input[type="email"], input[type="password"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
}

select {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #444;
}

small {
  color: #666;
  font-size: 14px;
}

/* Sección del pie de página */
footer {
  background-color: #3f1d77;
  color: #fff;
  padding: 20px;
  text-align: center;
  clear: both;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

footer li {
  margin-right: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer p {
  margin-bottom: 20px;
}